<!DOCTYPE html>
<html>
  <head>
    <title>Front Page Recognition</title>
  </head>
  <body>
    <div style="display: flex;">
      <div style="flex: 1;">
        <h2>Non Front Pages</h2>
        {% for image in non_front_pages %}
          <img src="{{ url_for('serve_image', filename=image) }}" style="width: 50%; height: 50%;"/>
        {% endfor %}
      </div>
      <div style="flex: 1;">
        <h2>Front Pages</h2>
        {% for image in front_pages %}
          <img src="{{ url_for('serve_image', filename=image) }}" style="width: 50%; height: 50%;"/>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
